.verificar-email {
  height: 100vh;
  background-color: var(--color-dark);
  display: flex;
}

strong {
  font-weight: bold;
}

.verificar-email-page {
  padding: 3rem 1.5rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.verificar-email-page h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.verificar-email-page p {
  font-size: 0.9rem;
}

.verificar-email-page button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-strong);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
}
.verificar-email-page button:hover {
  background-color: #aa0044;
}

.verificar-email-page button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.verificar-email-page .reenviado {
  color: green;
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.faq-email {
  text-align: left;
  margin-top: 2rem;
}

.faq-email h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.faq-email ul {
  padding-left: 1rem;
}

.faq-email li {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.voltar-link {
  display: block;
  margin-top: 5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-strong);
  transition: color 0.3s ease;
}
.voltar-link:hover {
  color: var(--color-primary);
}
