.trocas {
  background-color: var(--color-dark);
  color: white;
  min-height: 100vh;
}

.trocas-container {
  max-width: 900px;
  margin: 0px auto 25px;
  padding: 40px;
}

.trocas-container h1 {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-top: 7rem;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 10px;
}

.trocas-container h2 {
  font-size: 1.2rem;
  margin-top: 30px;
  color: var(--color-primary);
}

.trocas-container p, .trocas-container ul {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 5px;
}

.trocas-container ul {
  padding-left: 20px;
  list-style-type: disc;
}

@media (min-width: 768px) {
  .trocas-container {
    padding: 40px 60px;
  }
}

@media (min-width: 1440px) {
  .trocas-container {
    max-width: 1000px;
  }

  .trocas-container h1 {
    font-size: 1.7rem;
    margin-top: 8.5rem;
  }

  .trocas-container p, .trocas-container ul {
    font-size: 0.85rem;
    margin-top: 10px;
  }
}

@media (min-width: 1600px) {
  .trocas-container h1 {
    margin-top: 11rem;
  }
}

