.checkout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.checkout-container {
  flex: 1;
}

.btn-voltar-checkout {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
  width: max-content;
  margin-top: 11rem;
  margin-left: 1rem;
}
.btn-voltar-checkout:hover {
  color: var(--color-strong);
}

.checkout-box {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.checkout-step {
  padding: 1.5rem;
  max-width: 800px;
  margin: 2rem auto;
}
.checkout-step h3 {
  margin-bottom: 40px;
  margin-left: -3rem;
}

.form-checkout {
  display: grid;
  margin-bottom: 1.5rem;
}
.form-checkout label {
 font-size: 0.8rem;
 margin-bottom: 5px;
 color: #c0c0c0;
}
.form-checkout input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  background-color: white;
}

/* ====== ENDEREÇO ====== */

.enderecos-lista {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.endereco-card {
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #222;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.85rem;
}
.endereco-card:hover {
  border-color: #666;
  transform: scale(1.01);
}
.endereco-card.selecionado {
  border-color: var(--color-strong);
}
.endereco-card.add-novo {
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
.endereco-card .title-end {
  font-size: 0.9rem;
}

/* ====== FRETE ====== */

.frete-opcoes {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.frete-item-checkout {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #53535370;
  color: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  cursor: pointer;
}
.frete-item-checkout:hover {
  border-color: #666;
  transform: scale(1.01);
}
.frete-item-checkout.selecionado {
  border: 1px solid var(--color-strong);
}

.frete-logo-checkout {
  width: 25%;
  height: 50px;
  object-fit: contain;
}

.frete-detalhes-checkout .frete-title {
  font-size: 0.9rem;
  font-weight: bold;
}
.frete-detalhes-checkout p {
  margin-top: 5px;
  font-size: 0.85rem;
  color: #ccc;
}

/* ====== PAGAMENTO ====== */

.step-pagamento {
  margin-top: 0px;
}

.processado-por {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #999999ab;
}
.processado-por img {
  height: 25px;
}

.pagamento-opcoes {
  background: #f1f1f1;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Abas */
.abas-pagamento {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.aba {
  flex: 1;
  padding: 12px;
  background: #eee;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.aba:hover {
  background: #e0e0e0;
}
.aba.ativa {
  background: #fff;
  border-bottom: 3px solid var(--color-strong);
  color: var(--color-strong);
  font-weight: bold;
}
.icon-pix {
  height: 20px;
}

/* Conteúdo Cartao*/

.conteudo-pagamento {
  background: #fff;
  padding: 1.3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
}
.input-icon svg {
  position: absolute;
  right: 12px;
  top: 25%;
  transform: translateY(-25%);
  font-size: 18px;
  color: #666;
  pointer-events: none;
}

/* Cartão */
.cartao-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.entradas-box {
  flex: 1;
  min-width: 260px;
}
.input-pagamento {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 14px;
  font-size: 0.85rem;
}
.input-pagamento:focus {
  border-color: var(--color-strong);
  box-shadow: 0 0 0 3px rgba(255,0,127,0.2);
  outline: none;
}

.error-feedback {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 500;
  color: #f44336;
  margin-left: 5px;
}

/* Mockup do Cartão */
.feedback-box {
  width: 100%;
}

.cartao-mockup {
  flex: 1;
  min-width: 240px;
  max-width: 350px;
  height: 170px;
  background: linear-gradient(135deg, #ff6ec7, #ff007f);
  border-radius: 15px;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  margin: auto;
}

.chip {
  width: 40px;
  height: 30px;
  background: gold;
  border-radius: 5px;
  margin-bottom: 35px;
}
.chip svg{
  width: 70px;
  height: 50px;
  margin-left: -15px;
  margin-top: -10px;
}
.numero-cartao {
  text-align: start;
  font-size: 1rem;
  letter-spacing: 2px;
}
.nome-validade {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.75rem;
}

/* Bandeiras */
.logos-pagamento {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bandeiras {
  height: 20px;
  width: 30px;
}

/* Info segurança */
.info-seguranca {
  margin: 1rem auto 1rem auto;
  font-size: 0.7rem;
  text-align: center;
  color: #555;
  max-width: 80%;
  line-height: 1.4;
}

/* Botões */
.checkout-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.btn-next,
.btn-prev,
.btn-finalizar {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-prev {
  background: #444;
  color: #fff;
  transition: background-color 0.3s ease;
}
.btn-prev:hover {
  background-color: #333;
}

.btn-next {
  background: var(--color-primary);
  color: #fff;
  transition: background-color 0.3s ease;
}
.btn-next:hover {
  background-color: var(--color-strong);
}

.btn-finalizar {
  width: 200px;
  background: #00c853;
  color: #fff;
  font-size: 0.9rem;
  padding: 12px;
  transition: background 0.2s;
}
.btn-finalizar:hover {
  background: #00a94d;
}

/* Conteúdo Pix & Boleto*/

.pix-boleto-container {
  color: black;
}

.instructions {
  margin-top: 2rem;
  margin-left: 1.2rem;
  line-height: 25px;
  font-size: 0.9rem;
}


/* ====== MODAL-CONFIRM ====== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay-content {
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 6px solid #e91e63;
  border-top: 6px solid transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
}
.circle.success {
  background: #4caf50;
  animation: bounce 0.6s;
}
.circle.error {
  background: #f44336;
  animation: shake 0.6s;
}

.msg {
  margin-top: 1rem;
  font-weight: 500;
}
.msg.success {
  color: #4caf50;
  font-weight: 700;
}
.msg.error {
  color: #f44336;
  font-weight: 700;
}
.msg.small {
  color: #f44336;
  font-size: 0.875rem;
}

/* animações */
@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes bounce {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-8px); }
  40%, 80% { transform: translateX(8px); }
}





@media (min-width: 768px) {
  .btn-voltar-checkout {
    margin-left: 2rem;
  }

  /* Mockup do Cartão */
  .cartao-mockup {
    height: 180px;
  }

   /* Bandeiras */
  .logos-pagamento {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .bandeiras {
    height: 30px;
    width: 40px;
  }

  /* Info segurança */
  .info-seguranca {
    font-size: 0.85rem;
  }
}

@media (min-width: 1024px) {
  .btn-voltar-checkout {
    font-size: 0.9rem;
    margin-left: 4rem;
    margin-top: 8rem;
  }
  
  /* Cartão */
  .cartao-container {
    flex-wrap: nowrap;
  }

  /* Mockup do Cartão */
  .feedback-box {
    width: auto;
  }
  
  /* Conteúdo Pix & Boleto*/
  .pix-boleto-container h4 {
    margin-top: 0.5rem;
  }
  .instructions {
    margin-top: 3rem;
    line-height: 35px;
  }
}

@media (min-width: 1440px) {
  .btn-voltar-checkout {
    margin-left: 5rem;
    margin-top: 8.5rem;
  }

  /* ====== ENDEREÇO ====== */

  .endereco-card {
  font-size: 0.95rem;
  }
  .endereco-card .title-end {
  font-size: 1rem;
  }

  /* ====== FRETE ====== */

  .frete-detalhes-checkout .frete-title {
  font-size: 1rem;
  font-weight: bold;
  }
  .frete-detalhes-checkout p {
  font-size: 0.95rem;
  }
}

@media (min-width: 1600px) {
  .btn-voltar-checkout {
    font-size: 1rem;
    margin-left: 6rem;
    margin-top: 10rem;
  }

  .processado-por {
    font-size: 0.9rem;
  }

  /* Abas */
  .aba {
    font-size: 1rem;
  }
  /* Cartão */
  .input-pagamento {
    padding: 12px;
    margin-bottom: 20px;
    font-size: 0.95rem;
  }

  /* Mockup do Cartão */
  .numero-cartao {
    font-size: 1.3rem;
    letter-spacing: 3px;
  }
  .nome-validade {
    font-size: 0.85rem;
  }
}

@media (min-width: 1900px) {
  .btn-voltar-checkout {
    margin-left: 10rem;
    margin-top: 11.5rem;
  }

  .processado-por {
    font-size: 0.95rem;
    margin-bottom: 1.2rem;
  }
  
  /* Conteúdo Cartao*/
  .conteudo-pagamento {
    padding: 2rem 2rem 0rem 2rem;
  }

  /* Conteúdo Pix & Boleto*/
  .instructions {
    line-height: 40px;
    font-size: 1rem;
  }
}

@media (min-width: 2200px) {
  .btn-voltar-checkout {
    margin-left: 18rem;
    margin-top: 14rem;
  }
  
  .step-pagamento {
    margin-top: 2rem;
  }

  .processado-por {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }
  
  /* Conteúdo Cartao*/
  .conteudo-pagamento {
    padding: 2rem;
  }
  
  .info-seguranca {
    font-size: 0.9rem;
  }

  /* Conteúdo Pix & Boleto*/
  .instructions {
    line-height: 40px;
    font-size: 1rem;
  }
}
