.admin-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}

.title-admin-pedido {
  margin-bottom: 15px;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--color-strong);
}

.form-admin-pedido {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.input-admin-pedido {
  flex: 1;
  min-width: 260px;
  padding: 12px;
  border: 1px solid #333;
  background: #1a1a1a;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
}

.input-admin-pedido::placeholder {
  color: #999;
}

.form-btn-admin-pedido {
  padding: 12px 24px;
  background: #ff2d78;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.form-btn-admin-pedido:hover {
  background: var(--color-strong);
}

.erro {
  color: #ff4d6d;
  margin-bottom: 15px;
  display: block;
}

.pedido-grid {
  width: 100%;
  display: grid;
  gap: 8px;

  max-height: 600px;    
  overflow-y: auto;
  padding-right: 10px;     
}

.pedido-grid::-webkit-scrollbar {
  width: 8px;
}

.pedido-grid::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.pedido-grid::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}


.pedido-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #222;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
}

.pedido-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 14px;
  background: #121212;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.pedido-row:hover {
  background: #1d1d1d;
}

.modal-adm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  z-index: 2000;
}

.modal-content-adm {
  width: 100%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  background: #1b1b1b;
  padding: 25px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 45, 120, 0.3);
}

.close-modal-adminPedidos {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ff2d78;
  border: none;
  color: #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.subtitles-sections-adm {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff2d78;
}

.modal-content-adm section p {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

.modal-content-adm h2 {
  margin-bottom: 20px;
  color: #fff;
}

.modal-grid-adm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}


.modal-content-adm .section-itens {
  margin-bottom: 20px;
}

.subtitles-sections-adm {
  margin-bottom: 5px;
}

.modal-content-adm .section-itens p {
  font-weight: 300;
}

.itens-grid-adm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item-card-adm {
  display: flex;
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.item-card-adm img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.item-card-adm .item-pd-info-adm {
  width: 100%;
  display: flex;
  gap: 20%;
}

.item-card-adm p {
  margin: 2px 0;
}


.container-gerar-etiqueta {
  text-align: center;
  margin-top: 25px;
}
.gerar-etiqueta {
  padding: 8px 30px;
  background-color: var(--color-primary);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  font-weight: 600;
}
.gerar-etiqueta:hover {
  background-color: var(--color-strong);
}

@media (max-width: 850px) {
  .form-admin-pedido {
    flex-direction: column;
    align-items: stretch;
  }

  .form-btn-admin-pedido {
    width: 100%;
  }

  .pedido-header {
    display: none;
  }

  .pedido-row {
    grid-template-columns: 1fr;
    padding: 18px;
    background: #181818;
  }

  .pedido-row span {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #333;
  }

  .pedido-row span:last-child {
    border-bottom: none;
  }

  .pedido-row span::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--color-strong);
  }

  .modal-content-adm {
    max-width: 100%;
    padding: 20px;
    max-height: 90vh;
  }

  .modal-content-adm h2 {
    font-size: 1.2rem;
  }

  .modal-grid-adm {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .item-pd-info-adm h3 {
    font-size: 0.8rem;
  }
  .p-itens {
    font-size: 0.7rem;
  }

}

@media (max-width: 480px) {
  .title-admin-pedido {
    font-size: 1.4rem;
  }

  .input-admin-pedido {
    min-width: 100%;
  }

  .modal-content-adm {
    padding: 18px;
  }

  .close-modal-adminPedidos {
    padding: 8px 12px;
  }
}

@media (max-width: 420px) {

  .pedido-row span {
    display: block;
    margin-bottom: 8px;
  }

  .pedido-row span::before {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: var(--color-strong);
  }
}
