.politica-page {
  background-color: var(--color-dark);
  color: white;
  min-height: 100vh;
}

.politica-container {
  max-width: 900px;
  margin: 0 auto 25px;
  padding: 40px;
}

.politica-container h1 {
  color: var(--color-primary);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-primary);
  margin-top: 7rem;
  padding-bottom: 10px;
}

.politica-container h2 {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-top: 30px;
}

.politica-container p {
  color: #ddd;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 5px;
}

.politica-container a {
  color: #fd88d0;
  text-decoration: underline;
}

.politica-container a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .politica-container {
    padding: 40px 60px;
  }
}


@media (min-width: 1440px) {
  .politica-container {
    max-width: 1000px;
  }

  .politica-container h1 {
    font-size: 1.7rem;
    margin-top: 8.5rem;
  }

  .politica-container p {
    font-size: 0.85rem;
    margin-top: 10px;
  }
}

@media (min-width: 1600px) {
  .politica-container h1 {
    margin-top: 11rem;
  }
}
