.loginPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-section {
  flex: 1;
  background-color: var(--color-dark);
  padding: 35px;
  text-align: center;
}

.login-container {
  background-color: rgb(196, 196, 196);
  max-width: 500px;
  margin: auto;
  border-radius: 12px;
  padding: 25px;
  margin-top: 7rem;
}

.login-section h2 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5rem;
  margin-bottom: 28px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  border: none;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px 13px;
  font-size: 0.8rem;
  border-radius: 6px;
}

.login-form button {
  background-color: var(--color-primary);
  color: white;
  border: 3px solid var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s ease, border 0.4s ease;
  margin-top: 15px;
  padding: 6px;
  font-size: 1rem;
}

.login-form button:hover {
  background-color: var(--color-strong);
  border: 3px solid var(--color-strong);
}

.login-footer {
  text-align: center;
}

.login-footer a {
  color: #9c3675;
  text-decoration: none;
  margin: 0px 5px;
  font-size: 0.7rem;
}

.login-footer a:hover {
  text-decoration: underline;
}

.erro {
  color: red;
}


@media (min-width: 600px) {
  .login-footer a {
    margin: 0px 20px;
    font-size: 0.75rem;
  }
}

@media (min-width: 1280px) {
  .login-container {
    margin-top: 9rem;
  }
}

@media (min-width: 1600px) {
  .login-container {
    margin-top: 11rem;
  }

  .login-section h2 {
    font-size: 1.7rem;
  }
  .login-form input {
    padding: 12px 15px;
    font-size: 0.85rem;
  }

  .login-footer a {
    font-size: 0.8rem;
  }
}

@media (min-width: 2000px) {
  .login-container {
    margin-top: 15rem;
  }
}
