.login-section {
  background-color: #050821;
  padding: 80px;
  text-align: center;
}

.login-container {
  background-color: rgb(196, 196, 196);
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
  margin-top: 150px;
}

.login-section h2 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 2rem;
  margin-bottom: 35px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #333;
}

.login-form button {
  background-color: #FF6EC7;
  color: white;
  border: 3px solid #FF6EC7;
  padding: 14px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-top: 15px;
}

.login-form button:hover {
  background-color: #c23a8e;
}

.login-footer {
  text-align: center;
}

.login-footer a {
  color: #9c3675;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 1rem;
}

.login-footer a:hover {
  text-decoration: underline;
}

.erro {
  color: red;
}

@media (max-width: 425px) {
  .login-section {
    padding: 35px;
  }
  .login-container {
    padding: 25px;
    margin-top: 110px;
  }
  .login-section h2 {
    font-size: 1.5rem;
    margin-bottom: 28px;
  }

  .login-form {
    gap: 10px;
  }
  .login-form input {
    padding: 10px 13px;
    font-size: 0.8rem;
    border-radius: 6px;
  }
  .login-form button {
    padding: 6px;
    font-size: 1rem;
  }

  .login-footer a {
    font-size: 0.73rem;
  }

}