.cadastroPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cadastro {
  flex: 1;
  background-color: #050821;
  color: rgba(0, 0, 0, 0.85);
  padding: 35px;
  padding-bottom: 70px;
  text-align: center;
}

.cadastro-container {
  background-color: rgb(196, 196, 196);
  max-width: 600px;
  margin: auto;
  border-radius: 12px;
  margin-top: 7rem;
  padding: 25px;
}

.cadastro h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.cadastro p {
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cadastro-form input {
  border: none;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px 13px;
  font-size: 0.8rem;
  border-radius: 6px;
}
.cadastro-form .data-container {
  display: flex;
  position: relative;
  align-items: center;
}
.cadastro-form .data-container .calendar {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #777;
  font-size: 0.9rem;
}
.cadastro-form .data-container .data_nasc {
  width: 100%;
}

.cadastro-form button {
  grid-column: span 2;
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-top: 15px;
}

.cadastro-form button:hover {
  background-color: var(--color-strong);
}

.cadastro-footer {
  grid-column: span 2;
  text-align: center;
}

.cadastro-footer a {
  color: #9c3675;
  text-decoration: none;
  font-size: 0.7rem;
}

.cadastro-footer a:hover {
  text-decoration: underline;
}

.erro {
  text-align: left;
  margin: 10px;
  color: red;
}

@media (min-width: 600px) {
  .cadastro-footer a {
    font-size: 0.75rem;
  }
}

@media (min-width: 1280px) {
  .cadastro-container {
    margin-top: 9rem;
  }
}

@media (min-width: 1600px) {
  .cadastro-container {
    margin-top: 11rem;
  }

  .cadastro h2 {
    font-size: 1.7rem;
  }

  .cadastro-form input {
    padding: 12px 15px;
    font-size: 0.85rem;
  }

  .cadastro-footer a {
    font-size: 0.8rem;
  }
}

@media (min-width: 2000px) {
  .cadastro-container {
    margin-top: 15rem;
  }
}
