.cadastro {
  background-color: #050821;
  color: rgba(0, 0, 0, 0.85);
  padding: 80px;
  text-align: center;
}

.cadastro-container {
  background-color: rgb(196, 196, 196);
  max-width: 700px;
  margin: auto;
  margin-top: 150px;
  padding: 40px;
  border-radius: 12px;
}

.cadastro h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.cadastro p {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.cadastro-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cadastro-form input {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #333;
}
.cadastro-form .data-container {
  display: flex;
  position: relative;
  align-items: center;
}
.cadastro-form .data-container .calendar {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #777;
}
.cadastro-form .data-container .data_nasc {
  width: 100%;
}

.cadastro-form button {
  grid-column: span 2;
  background-color: #FF6EC7;
  color: white;
  border: none;
  padding: 14px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-top: 15px;
}

.cadastro-form button:hover {
  background-color: #c23a8e;
}

.cadastro-footer {
  grid-column: span 2;
  text-align: center;
}

.cadastro-footer a {
  color: #9c3675;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
}

.cadastro-footer a:hover {
  text-decoration: underline;
}

.erro {
  text-align: left;
  margin: 10px;
  color: red;
}

@media (max-width: 480px) {
  .cadastro {
    padding: 35px;
  }
  .cadastro-container {
    margin-top: 110px;
    padding: 25px;
  }
  .cadastro h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .cadastro p {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cadastro-form input {
    padding: 10px 13px;
    font-size: 0.8rem;
    border-radius: 6px;
  }
  .cadastro-form button {
    padding: 10px;
  }
    
  .cadastro-footer a {
    font-size: 0.75rem;
  }

  .cadastro-form .data-container .calendar {
    font-size: 0.9rem;
    color: #777;
  }
}
