body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.admin-container {
  margin: auto;
  padding: 2rem;
}

.form-wrapper {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.form-wrapper.fechado {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.form-wrapper.aberto {
  max-height: 10000px;
  opacity: 1;
  pointer-events: all;
}

.form-btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;

}
.form-btn:hover {
  background-color: #2a2a2a57;
}

.title-admin-produto {
  color: var(--color-primary);
  font-size: 30px;
  margin-bottom: 1rem;
}

.form-admin-produto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-admin-produto,
.form-btn-admin-produto {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.input-admin-produto {
  background-color: #2a2a2a;
  color: #fff;
}

.input-admin-produto::placeholder {
  color: #aaa;
}

.input-admin-produto[type="file"] {
  background-color: transparent;
}

.form-btn-admin-produto {
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.form-btn-admin-produto:hover {
  background-color: var(--color-strong);
}

.form-btn-admin-produto-cancel {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #5f2645;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
.form-btn-admin-produto-cancel:hover {
  background-color: #471a31;
}

.preview-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.preview-item {
  position: relative;
}

.preview-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.preview-item button {
  position: absolute;
  top: 2px;
  right: 2px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 20px;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
}



.form-admin-produto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas */
  gap: 20px;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-admin-produto, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #111;
  color: #fff;
}

textarea {
  min-height: 80px;
  resize: vertical;
}



.produto-grid {
  display: grid;
  gap: 10px;
}

.produto-header,
.produto-row {
  display: grid;
  grid-template-columns: 320px 50px 250px 100px 120px 500px 100px 100px 100px 150px 100px 100px 100px 150px 100px;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #444;
}

.produto-header  {
  font-weight: bold;
  color: var(--color-primary);
}

.produto-row span,
.produto-acoes {
  padding: 8px 4px;
  font-size: 14px;
}

.produto-row {
  transition: background 0.2s;
}.produto-row:hover {
  background-color: #333;
}

.produto-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.produto-imagens img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.produto-acoes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.produto-acoes button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.produto-acoes button:first-child {
  background-color: #ffaa00;
  color: #fff;
}
.produto-acoes button:first-child:hover {
  background-color: #b47800;
}

.produto-acoes button:last-child {
  background: #ff3b3b;
  color: #fff;
}
.produto-acoes button:last-child:hover {
  background-color: #a00000;
}