.produto-dstq {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100vw;
  margin: 0 auto;
}

.produto-card-dstq {
  border: 2px solid var(--color-primary);
  position: relative;
  transition: transform 0.3s ease;
  text-align: left;
  padding: 15px;
  width: 250px;
  height: 290px;
}
.produto-card-dstq:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

.imagem-container-dtq {
  position: relative;
  margin-bottom: 5px;
}
.imagem-produto-dstq {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}


.imagem-container-dtq .seta-dtq {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  width: 25%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7rem;
}

.imagem-container-dtq .seta-esquerda-dtq {
  left: 0px;
  text-align: left;
}

.imagem-container-dtq .seta-direita-dtq {
  right: 0px;
  text-align: right;
}


.title-dstq {
 font-size: 1rem;
}
.desc-dstq {
  font-size: 0.8rem;
}

.botao-dstq {
  background-color: var(--color-primary);
  position: absolute;
  display: flex;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.texto-adicionar-dstq {
  font-size: 1.1rem;
}
.produto-card-dstq:hover .botao-dstq {
  opacity: 1;
}

@media (min-width: 1024px) {
  .produto-dstq {
    gap: 2%;
  }
  .produto-card-dstq {
    width: 270px;
    height: 300px;
    cursor: pointer;
  }
  .title-dstq {
  font-size: 1.1rem;
  }
  .desc-dstq {
    font-size: 0.85rem;
  }
}

@media (min-width: 1440px) {
  .produto-dstq {
    gap: 3%;
  }

  .produto-card-dstq {
    width: 285px;
    height: 330px;
  }

  .imagem-container-dtq {
    margin-bottom: 10px;
  }
  .imagem-produto-dstq {
    height: 210px;
  }

}

@media (min-width: 1800px) {
  .produto-card-dstq {
    width: 320px;
    height: 400px;
  }

  .imagem-produto-dstq {
    height: 260px;
  }

  .title-dstq {
  font-size: 1.3rem;
  }
  .desc-dstq {
    font-size: 1rem;
  }

  .botao-dstq {
    height: 50px;
  }
  .texto-adicionar-dstq {
    font-size: 1.25rem;
  }
}
