.loja-container {
  background-color: var(--color-dark);
  padding: 50px 20px;
}

.barra-pesquisa {
  display: flex;
  position: sticky;
  top: 20px;
  z-index: 1000;
  transform: translateY(5rem);
  transition: transform 0.6s ease;
}
.barra-pesquisa.scrolled {
  pointer-events: none;
  transform: translateY(0);
  padding-left: 5px;
}
.input-pesquisa {
  background-color: transparent;
  outline: none;
  color: white;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  transition: padding 0.6s ease, width 0.6s ease;
}
.input-pesquisa.scrolled {
  width: 50%;
  padding: 6px 10px;
  pointer-events: auto;
}
.input-pesquisa::placeholder {
  color: #ccc;
} 
.sugestoes-dropdown {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  background-color: #2b2b2b;
  border: 1px solid #444;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  font-size: 0.8rem;
  border-radius: 8px;
  transition: width 0.6s ease;
}
.sugestoes-dropdown.scrolled {
  margin-left: 3px;
  width: 50%;
}
.sugestoes-dropdown li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-top: 1px solid #3a3a3a;
}
.sugestoes-dropdown.scrolled li {
  padding: 8px 13px;
}
.sugestoes-dropdown li:hover {
  background-color: #444;
}


.btn-abrir-filtros {
  display: flex;
  position: fixed;
  top: 8rem;
  left: 0px;
  z-index: 1000;
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 5px;
  font-size: 1.3rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


.grid-produtos {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: calc(2 * 200px + 0.6rem);
  margin: 6.5rem auto 40px auto;
}
.grid-prod-skeleton {
  min-height: calc(2 * 1100px + 0.6rem); 
}

.card-produto {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}
.card-produto:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.imagem-container {
  position: relative;
  height: 150px;
}
.imagem-container .imagem-produto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.imagem-container .seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}
.imagem-container .seta-esquerda {
  left: 0;
  text-align: left;
}
.imagem-container .seta-direita {
  right: 0;
  text-align: right;
}

.title-produto {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
}
.preco {
  color: var(--color-dark);
  font-size: 0.8rem;
  font-weight: 400;
  margin: 5px 0;
}
.card-produto .btn-comprar {
  background-color: var(--color-dark);
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  padding: 6px 15px;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}
.card-produto .btn-comprar:hover {
  background-color: var(--color-strong);
}

.paginacao {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.paginacao .pagina {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #8e8e8e9a;
  transition: background-color 0.3s;
}
.paginacao .pagina:hover {
  background-color: #999;
}
.paginacao .pagina.ativo {
  background-color: var(--color-strong);
  color: white;
}


@media (min-width: 480px) {
  .barra-pesquisa {
    top: 18px;
  }
  .barra-pesquisa.scrolled {
    padding-left: 0px;
    transform: translateX(-2rem);
  }

  .sugestoes-dropdown.scrolled {
    margin-left: 0px;
  }
}

@media (min-width: 600px) {
  .grid-produtos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: calc(3 * 200px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(3 * 516px + 0.6rem); 
  }
}

@media (min-width: 768px) {
  .btn-abrir-filtros {
    display: none;
  }

  .loja-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1rem;
    padding: 50px 20px 50px 0px;
  }

  .search-grid-pag {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .grid-produtos {
    width: 100%;
    max-width: calc(3 * 250px + 0.6rem);
  }

  .barra-pesquisa {
    max-width: calc(3 * 250px + 0.6rem);
    width: 100%;
    margin: auto;
  }
  .barra-pesquisa.scrolled {
    transform: translateY(0);
  }

  .input-pesquisa {
    width: 100%;
  }
  .input-pesquisa.scrolled {
    width: 55%;
    margin-left: 0px;
  }

  .sugestoes-dropdown {
    width: 100%;
  }
  .sugestoes-dropdown.scrolled {
    margin-left: 0px;
    width: 55%;
    left: 27.5%;
  }
  
  .card-produto {
    padding: 10px;
  }

  .paginacao {
    max-width: calc(3 * 250px + 0.6rem);
    margin: auto
  }
}

@media (min-width: 1024px) {
  .grid-produtos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: calc(4 * 250px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(4 * 310px + 0.6rem); 
  }

  .barra-pesquisa {
    max-width: calc(4 * 250px + 0.6rem);
  }

  .paginacao {
    max-width: calc(4 * 250px + 0.6rem);
  }
}

@media (min-width: 1280px) {
  .loja-container {
    grid-template-columns: 250px 1fr;
  }

  .grid-produtos {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    max-width: calc(5 * 250px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(5 * 200px + 0.6rem);
  }

  .barra-pesquisa {
    max-width: calc(5 * 250px + 0.6rem);
    top: 25px
  }

  .paginacao {
    max-width: calc(5 * 250px + 0.6rem);
  }
  .paginacao .pagina {
    cursor: pointer;
  }

  .imagem-container .seta {
    cursor: pointer;
  }
  .card-produto .btn-comprar {
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .barra-pesquisa {
    margin-top: 0.6rem;
  }
  .grid-produtos {
    margin-top: 5.8rem;
  }
}

@media (min-width: 1600px) {
  .loja-container {
    padding-top: 7rem;
  }
  .grid-produtos {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    max-width: calc(6 * 250px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(6 * 125px + 0.6rem);
  }

  .barra-pesquisa {
    max-width: calc(6 * 250px + 0.6rem);
  }

  .paginacao {
    max-width: calc(6 * 250px + 0.6rem);
  }
}

@media (min-width: 1900px) { 
  .loja-container {
    grid-template-columns: 280px 1fr;
    gap: 1.2rem;
  }

  .barra-pesquisa {
    max-width: calc(6 * 280px + 0.6rem);
  }
  .input-pesquisa {
    padding: 12px 15px;
    font-size: 1rem;
  }
  .input-pesquisa.scrolled {
    width: 55%;
    padding: 9px 15px;
  }
  .sugestoes-dropdown {
    width: 100%;
    font-size: 1rem;
  }
  .sugestoes-dropdown.scrolled {
    width: 55%;
  }
  .sugestoes-dropdown.scrolled li {
    padding: 10px 13px;
  }

  .grid-produtos {
    gap: 0.8rem;
    max-width: calc(6 * 280px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(6 * 170px + 0.6rem);
  }

  .imagem-container {
    height: 220px;
  }
  .imagem-container .seta {
    font-size: 2rem;
  }
  .imagem-container .seta-esquerda {
    left: -4px;
  }
  .imagem-container .seta-direita {
    right: -4px;
  }

  .title-produto {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .preco {
    font-size: 1.2rem;
  }
  .card-produto .btn-comprar {
    margin-top: 5px;
    padding: 7px 17px;
    font-size: 0.85rem;
    transition: background-color 0.3s;
  }

  .paginacao {
    gap: 20px;
    max-width: calc(6 * 280px + 0.6rem);
  }
  .paginacao .pagina {
    padding: 8px 12px;
  }
}

@media (min-width: 2200px) {
  .barra-pesquisa {
    max-width: calc(6 * 400px + 0.6rem);
  }

  .grid-produtos {
    max-width: calc(6 * 400px + 0.6rem);
  }
  .grid-prod-skeleton {
    min-height: calc(6 * 200px + 0.6rem);
  }

  .imagem-container {
    height: 280px;
  }
  .imagem-container .seta {
    font-size: 2.2rem;
  }

  .paginacao {
    max-width: calc(6 * 400px + 0.6rem);
  }
}

@media (min-width: 2500px) {
  .imagem-container {
    height: 340px;
  }

  .imagem-container .seta {
    font-size: 2.2rem;
  }
  .imagem-container .seta-esquerda {
    left: 0;
  }
  .imagem-container .seta-direita {
    right: 0;
  }

  .grid-prod-skeleton {
    min-height: calc(6 * 230px + 0.6rem);
  }

  .card-produto .btn-comprar {
    padding: 8px 24px;
  }
}
