body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.admin-container {
  margin: auto;
  padding: 2rem;
}

.title-admin-usuario {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.form-admin-usuario {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.input-admin-usuario,
.form-btn-admin-usuario {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.input-admin-usuario {
  width: 500px;
  background-color: #2a2a2a;
  color: #fff;
}
.input-admin-usuario::placeholder {
  color: #aaa;
}

.form-btn-admin-usuario {
  padding: 0px 1.5rem;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
.form-btn-admin-usuario:hover {
  background-color: var(--color-strong);
}

.user-grid {
  display: grid;
  gap: 5px;
}

.user-header,
.user-row {
  display: grid;
  grid-template-columns: 100px 400px 200px 200px 250px 350px 200px 200px;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #444;
}

.user-header {
  font-weight: bold;
  color: var(--color-primary);
}


.user-row {
  transition: background 0.2s;
}
.user-row:hover {
  background-color: #333;
}

