.contato {
  background-color: #050821;
  color: white;
  padding: 75px;
  text-align: center;
}

.contato-container {
  max-width: 600px;
  margin: auto;
  margin-top: 140px;
}

.contato h1 {
  color: #FF6EC7;
  font-size: 2rem;
  margin-bottom: 10px;
}

.contato p {
  font-size: 1rem;
  margin-bottom: 40px;
  color: #ccc;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contato-form input,
.contato-form textarea {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #333;
}

.contato-form textarea {
  resize: none;
}

.contato-form button {
  background-color: #ff0055;
  color: white;
  border: none;
  padding: 14px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contato-form button:hover {
  background-color: #e6004a;
}

.contato-redes {
  margin-top: 50px;
}

.contato-redes p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #ccc;
}

.redes-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.redes-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.redes-links img:hover {
  transform: scale(1.15);
}

.custom-ui {
  background: #4d4d4d;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 425px) {
  .contato {
    padding: 50px;
  }
  .contato-container {
    max-width: 350px;
    margin-top: 110px;
  }


  .contato h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .contato p {
    font-size: 0.8rem;
    margin-bottom: 25px;
  }

  .contato-form {
    gap: 15px;
  }
  .contato-form input,
  .contato-form textarea {
    padding: 10px 13px;
    font-size: 0.8rem;
  }

  .contato-form button {
    padding: 12px;
    font-size: 0.9rem;
  }


  .contato-redes p {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  .redes-links img {
    width: 35px;
    height: 35px;
  }
  
  .custom-ui {
    width: 80%;
    height: min-content;
    margin: auto;
  }
  .custom-ui h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .custom-ui p{
    font-size: 0.9rem;
  }
}