.contatoPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contato {
  background-color: var(--color-dark);
  padding: 50px;
  text-align: center;
  flex: 1;
}

.contato-container {
  margin: auto;
  margin-top: 7.5rem;
}

.contato h1 {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.contato p {
  color: #ccc;
  font-size: 0.8rem;
  margin-bottom: 25px;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contato-form input,
.contato-form textarea {
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  color: #333;
  border: 2px solid var(--color-primary);
  outline: none;
  padding: 10px 13px;
  font-size: 0.8rem;
}
.contato-form input:focus,
.contato-form textarea:focus {
  border: 2px solid var(--color-strong);
}

.contato-form textarea {
  resize: none;
}

.contato-form button {
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 12px;
  font-size: 0.9rem;
}
.contato-form button:hover {
  background-color: #e6004a;
}

.contato-redes {
  margin-top: 50px;
}

.contato-redes p {
  color: #ccc;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.redes-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes-links img {
  width: 30px;
  transition: transform 0.3s;
}

.redes-links img:hover {
  transform: scale(1.15);
}


@media (min-width: 600px) {
  .contato-container {
    max-width: 500px;
  }
}

@media (min-width: 1600px) {
  .contato-container {
    max-width: 650px;
    margin-top: 9.5rem;
  }
  .contato h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .contato p {
    font-size: 1.1rem;
    margin-bottom: 35px;
  }

  .contato-form {
    gap: 15px;
  }
  .contato-form input,
  .contato-form textarea {
    padding: 12px 15px;
    font-size: 1rem;
  }
  .contato-form button {
    padding: 13px;
    font-size: 1rem;
  }

  .contato-redes p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .redes-links {
    gap: 25px;
  }
  .redes-links img {
    width: 40px;
  }
}

@media (min-width: 2100px) {
  .contato-container {
    margin-top: 11.5rem;
  }
}
