.minha-conta-container {
  color: white;
  padding: 2rem;
  margin-bottom: 20px;
}

.h1-account {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 7rem;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.boxes .h3-account {
  font-size: 1rem;
  margin-bottom: 20px;
}

.meus-dados {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 25px;
}

form .label-account {
  display: block;
  margin-bottom: 8px;
  margin-top: 18px;
  font-size: 0.85rem;
  margin-left: 5px;
}

.input-account {
  background-color: transparent;
  width: 100%;
  padding: 8px 15px;
  font-size: 0.8rem;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  outline: none;
  color: white;
  flex: 1;
  cursor: text;
}
.input-account::placeholder {
  color: white;
}
.input-account[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1)!important;
  cursor: pointer;
}
.disabled {
  color: #6b6b6b;
}
.password {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 15px;
}
form .lb-password {
  margin: 0px;
}

.submit {
  background-color: #007bff;
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  margin-top: 35px;
  transition: 0.3s;
}
.submit:hover {
  background-color: #00438a;
}


.enderecos .endereco-card {
  background: white;
  color: black;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
}
.enderecos .endereco-card p {
  font-size: 0.8rem;
}
.submit-endereco {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 0.75rem;
  transition: 0.3s;
}
.submit-endereco:hover {
  background-color: #00438a;
}
.btn-add-endereco {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 0.8rem;
  transition: 0.3s;
}
.btn-add-endereco:hover {
  background-color: #2b693a;
}

.meus-pedidos {
  margin-top: 30px;
}
.pedidos {
  max-height: 400px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.pedidos::-webkit-scrollbar {
  display: none;
}
.pedidos p {
  font-size: 0.8rem;
}
.pedido-card {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
.pedido-card:hover {
  transform: scale(1.02);
}
.pedido-box-first {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}
.pedido-box-second {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 5px;
}


.boxes .btn-logout {
  background-color:transparent;
  color: rgb(225, 0, 0);
  border: none;
  width: max-content;
  margin-top: 50px;
  text-align: left;
  padding: 5px 0px;
}
.boxes .btn-logout:hover {
  color: rgb(175, 0, 0);
}

@media (min-width: 768px) {
  .boxes {
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .h1-account {
    font-size: 1.4rem;
    margin-top: 8rem;
  }
  .boxes {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .h1-account {
    margin-top: 9rem;
    margin-bottom: 3.5rem;
  }
  .boxes {
    max-width: 1500px;
    width: 90%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: start;
    gap: 10%;
    margin-bottom: 7rem;
  }
  .boxes .h3-account {
    font-size: 1.15rem;
    margin-bottom: 25px;
  }


  .meus-dados   { 
    grid-column: 1;
    grid-row: 1;
    margin-top: 0px;
  }

  .input-account {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .submit {
    font-size: 0.85rem;
  }

  .enderecos .endereco-card p {
    font-size: 0.9rem;
  }
  .submit-endereco {
    font-size: 0.8rem;
    cursor: pointer;
  }
  .btn-add-endereco {
    cursor: pointer;
  }

  .meus-pedidos {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0px;
  }
  .pedidos {
    max-height: 1050px;
  }
  .pedidos p {
    font-size: 0.9rem;
  }
  .pedido-card {
    margin-bottom: 12px;
    max-width: 550px;
  }
  .pedido-box {
    gap: 8px;
  }


  .boxes .btn-logout {
    margin-top: 0;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

@media (min-width: 1600px) {
  .h1-account {
    margin-top: 11rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }

  .boxes .h3-account {
    font-size: 1.2rem;
  }

  .input-account {
    font-size: 0.95rem;
  }

  .submit {
    font-size: 0.9rem;
  }

  .enderecos .endereco-card p {
    font-size: 0.95rem;
  }
  .submit-endereco {
    padding: 7px 17px;
    font-size: 0.85rem;
  }

  
  .pedidos p {
    font-size: 0.95rem;
  }

  .boxes .btn-logout {
    font-size: 0.95rem;
  }
}

@media (min-width: 1900px) {
  .h1-account {
    font-size: 1.8rem;
  }

  .boxes .h3-account {
    font-size: 1.45rem;
  }


  
  form .label-account {
    font-size: 0.95rem;
  }
  .input-account {
    padding: 11px 18px;
    font-size: 1.1rem;
  }

  .submit {
    font-size: 1rem;
  }

  .enderecos .endereco-card p {
    font-size: 1rem;
  }
  .submit-endereco {
    margin-top: 15px;
    padding: 7px 18px;
    font-size: 0.95rem;
  }
  .btn-add-endereco {
    padding: 11px 15px;
    font-size: 1rem;
  }

  .pedidos {
    margin-top: 40px;
  }
  .pedidos p {
    font-size: 1.1rem;
  }
  .pedido-card {
    margin-bottom: 15px;
  }
  .pedido-box {
    gap: 10px;
  }


  .boxes .btn-logout {
    font-size: 1.1rem;
    margin-left: 5px;
  }
}

@media (min-width: 2000px) {
  .enderecos .endereco-card p {
    margin-bottom: 3px;
  }
}
