.carrinho {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.carrinho-container {
  padding: 2rem;
  color: white;
  flex: 1;
}

.btn-voltar-carrinho {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
  width: max-content;
  margin-top: 7rem;
}
.btn-voltar-carrinho:hover {
  color: var(--color-strong);
}

.title-cart {
  font-size: 1.3rem;
  margin: 20px 0px 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1a33;
  border: 1px solid #39393930;
  border-radius: 6px;
  margin-bottom: 10px;

}

.imagem-carrinho-container {
  position: relative;
  height: 80px;
  margin-right: 5%;
}
.imagem-carrinho-container .produto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.imagem-carrinho-container .seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 1.3rem;
  color: white;
  border: none;
  height: 100%;
  width: 35%;
}
.imagem-carrinho-container .seta-esquerda {
  left: 0;
  text-align: left;
}
.imagem-carrinho-container .seta-direita {
  right: 0;
  text-align: right;
}

.info-item {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.title {
  font-size: 0.9rem;
  font-weight: 500;
}
.compativel {
  font-size: 0.7rem;
  font-weight: 200;
}
.info-preco-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}
.preco-carrinho {
  font-size: 0.8rem;
  margin-right: 20px;
}

.remover {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 5px 3px 5px;
  border-radius: 5px;
  margin-right: 15px;
}
.remover:hover {
  background-color: rgb(140, 0, 0);
}

.msg-carrinho-vazio {
  margin: 10vh 15px;
  font-size: 0.85rem;
}

.total-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.total-container .total {
  text-align: right;
  font-size: 0.9rem;
  font-weight: 500;
}

.total-container .btn-total {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.continuar-comprando {
  background-color: transparent;
  color: #00c853;
  border: 1px solid #00c853;
  border-radius: 8px;
  font-size: 0.7rem;
  padding: 10px;
  transition: background-color 0.7s ease;
}
.continuar-comprando:hover {
  background-color: #00c85325;
}

.finalizar {
  background-color: #00c853;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}
.finalizar:hover {
  background-color: #009b40;
}
button.finalizar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button.finalizar:hover:disabled {
  background-color: #00c853;
}


@media (min-width: 768px) {
  .btn-voltar-carrinho {
    margin-left: 2rem;
  }
  .title-cart {
    width: 90%;
    max-width: 900px;
    margin: 50px auto 25px;
  }
  .carrinho-itens {
    width: 90%;
    max-width: 900px;
    margin: auto;
  }
  .imagem-carrinho-container {
    height: 90px;
  }
  .title {
    font-size: 1rem;
  }
  .compativel {
    font-size: 0.8rem;
  }
  .preco-carrinho {
    font-size: 0.85rem;
  }

  .remover {
    margin-right: 25px;
    font-size: 1rem;
  }
  .total-container {
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
  }
}

@media (min-width: 1024px) {
  .btn-voltar-carrinho {
    font-size: 0.9rem;
    margin-left: 4rem;
    margin-top: 8rem;
  }

  .carrinho-itens {
    width: 90%;
    max-width: 900px;
    margin: auto;
  }
  
  .item {
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.2s;
  }
  .item:hover {
    scale: 1.05rem;
    transform: scale(1.01);
  }

  .imagem-carrinho-container {
    height: 100px;
  }

  .info-item {
    gap: 0.25rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .compativel {
    font-weight: 300;
  }
  .info-preco-item {
    gap: 0.25rem;
  }
  .preco-carrinho {
    font-size: 0.9rem;
  }

  .remover {
    font-size: 1.05rem;
    cursor: pointer;
  }

  
  .total-container .total {
    font-size: 1rem;
  }
  .continuar-comprando {
    font-size: 0.8rem;
    padding: 10px 15px;
    cursor: pointer;
  }
  .finalizar {
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .btn-voltar-carrinho {
    margin-left: 5rem;
    margin-top: 8.5rem;
  }

  .msg-carrinho-vazio {
    font-size: 0.9rem;
  }
}

@media (min-width: 1600px) {
  .btn-voltar-carrinho {
    font-size: 1rem;
    margin-left: 6rem;
    margin-top: 10rem;
  }
}

@media (min-width: 1900px) {
  .btn-voltar-carrinho {
    margin-left: 8rem;
    margin-top: 12rem;
  }

  .imagem-carrinho-container {
    height: 120px;
  }
  .imagem-carrinho-container .seta {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .imagem-carrinho-container .seta-direita {
    right: -5px;
  }
  .imagem-carrinho-container .seta-esquerda {
    left: -5px;
  }

  .info-item {
    gap: 0.5rem;
  }
  .title {
    font-size: 1.3rem;
  }
  .compativel {
    font-size: 1.1rem;
  }
  .info-preco-item {
    gap: 0.5rem;
  }
  .preco-carrinho {
    font-size: 1.05rem;
  }

  .remover {
    font-size: 1.2rem;
  }


  .total-container {
    margin-top: 4rem;
  }  
  .total-container .total {
    font-size: 1.4rem;
  }
  .total-container .btn-total {
    margin-top: 2.5rem;
  }
  .continuar-comprando {
    font-size: 0.95rem;
    padding: 10px 20px;
  }
  .finalizar {
    font-size: 1rem;
  }


  .msg-carrinho-vazio {
    font-size: 1rem;
  }
}

@media (min-width: 2200px) {
  .title-cart {
    margin: 50px auto 35px;
  }

  .imagem-carrinho-container {
    height: 140px;
  }
  .imagem-carrinho-container .seta {
    font-size: 1.9rem;
  }

  .info-item {
    gap: 0.7rem;
  } 
  .info-preco-item {
    gap: 0.7rem;
  }
  .remover {
    padding: 6px 6px 3px 6px;
  }

  .total-container {
    margin-top: 10rem;
  } 
  .total-container .btn-total {
    margin-top: 3rem;
  }
  .finalizar {
    letter-spacing: 0.5px;
  }
}
