.sobre {
  color: white;
}

.sobre-container {
  padding: 40px 20px;
  background: linear-gradient(0deg, #050821, #1b0529 80%, #050821 100%);
}

.sobre-hero {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 140px;
}

.sobre-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 55px;
}

.sobre-hero p {
  font-size: 1.25rem;
  margin: 0 auto;
}

.sobre-historia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.historia-conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.historia-img {
  width: 320px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.historia-texto {
  max-width: 500px;
  text-align: left;
}

.historia-texto h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.historia-texto p {
  font-size: 1rem;
  line-height: 1.6;
}

.sobre-valores {
  text-align: center;
  margin-bottom: 60px;
}

.sobre-valores h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.valores-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #888;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  min-height: 180px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.diferenciais {
  background-color: #05082100;
  color: white;
  text-align: center;
}

.diferenciais h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.diferenciais-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  color: black;
  max-width: 900px;
  margin: 0 auto;
}

.diferenciais .diferencial {
  flex: 1 1 250px;
  max-width: 250px;
  padding: 20px;
  background-color: rgb(243, 226, 241);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.diferencial:hover {
  transform: translateY(-5px);
}

.diferenciais h3 {
  margin-bottom: 8px;
}

.diferenciais .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.parcerias {
  padding: 60px 20px;
  text-align: center;
}

.parcerias h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.parcerias p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1.1em;
}

.parcerias .logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.parcerias .logos img {
  max-width: 150px;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.parcerias .logos img:hover {
  opacity: 1;
}

.sobre-extra h2 {
  margin-bottom: 10px;
}
.sobre-extra {
  text-align: center;
  margin-top: 120px;
  font-size: 0.75rem;
  color: #ccc;
}
