.detalhes-container-detail {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: white;
  padding: 2rem;
}

.btn-voltar-details {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  transition: color 0.3s ease;
  width: max-content;
  margin-top: 7rem;
  font-size: 0.8rem;
}
.btn-voltar-details:hover {
  color: var(--color-strong);
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
}

.imagens-section-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagem-principal-detail {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  position: relative;
}
.imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  border-radius: 10px;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}
.imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail:hover {
  transform: scale(1.05);
}
.imagens-section-detail .carrossel-miniaturas-detail {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  overflow-x: auto;
}
.imagens-section-detail .miniatura {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}
.imagens-section-detail .miniatura.ativa {
  border-color: var(--color-primary);
}

.info-section-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-esquerda {
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.info-section-detail .titulo-detail {
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
}
.info-section-detail .entre-title-star {
  display: none;
}
.stars-title {
  margin-right: 5px;
}
.info-section-detail .descricao-detail {
  margin: 0.5rem 0;
  line-height: 1;
  font-size: 0.9rem;
}
.info-section-detail .preco-detail {
  color: #00ffcc;
  margin-top: 1.1rem;
  font-size: 1.4rem;
}

.quantidade-detail .quantidade-selector {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.quantidade-detail .quantidade-selector .btn-detail {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;

  padding: 0.3rem;
  line-height: 0.6rem;
  font-size: 1rem;
}
.quantidade-detail .quantidade-selector .input-detail {
  text-align: center;
  background: #333;
  border: none;
  color: white;

  width: 30px;
  margin: 0 0.8rem;
  font-size: 0.9rem;
}
.quantidade-detail .qnt-disponivel {
  font-size: 0.8rem;
}

.acoes-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formas-pagamento {
  color: white;
  margin-bottom: 0.35rem;
}
.formas-pagamento h4 {
  font-size: 0.9rem;
}
.formas-pagamento ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}
.formas-pagamento li::before {
  content: none;
}
.btn-acoes-detail {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.botao-carrinho-detail {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  max-width: 200px;
  padding: 0.75rem 1rem;
  font-size: 0.8rem;
}
.botao-carrinho-detail:hover {
  background-color: var(--color-strong);
}

.botao-whatsapp {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px;

  padding: 0.75rem 1rem;
  font-size: 0.75rem;
}
.botao-whatsapp img {
  margin-bottom: -4px;

  height: 15px;
  margin-left: 7px;
}
.botao-whatsapp:hover {
  background-color: #1da851;
}


.frete-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.frete-box {
  display: flex;
  gap: 0.5rem;
}
.frete-container input {
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
}
.frete-container button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.resultado-frete {
  margin-top: 0.5rem;
  margin-left: 5px;
}
.resultado-frete .frete-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  display: grid;
  gap: 0.6rem;
}
.resultado-frete .frete-lista .frete-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin-left: 5px;
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #53535370;
  color: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}
.resultado-frete .frete-lista .frete-item:hover {
  transform: scale(1.01);
}
.resultado-frete .frete-lista .frete-item .frete-logo {
  width: 25%;
  object-fit: contain;
}
.resultado-frete .frete-lista .frete-item .frete-detalhes h4 {
  font-size: 0.8rem;
  font-weight: bold;
}
.resultado-frete .frete-lista .frete-item .frete-detalhes p {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #ccc;
}


.secao-caracteristicas {
  margin: 4rem 0rem;
}
.secao-caracteristicas .section-title-ct {
  color: var(--color-primary);
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.secao-caracteristicas .caracteristicas-dados {
  margin-left: 5px;
}
.secao-caracteristicas .caracteristicas {
  line-height: 1.3rem;
  font-size: 0.8rem;
}


.secao-avaliacoes {
  margin: 0rem;
}
.secao-avaliacoes .section-title-av {
  color: var(--color-primary);
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.secao-avaliacoes .lista-avaliacoes {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
.secao-avaliacoes .lista-avaliacoes .item-avaliacao {
  display: flex;
  align-items: center;
  background: #262238;
  border-radius: 8px;
  border: 1px solid #ffffff41;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 0.8rem;
  justify-content: space-between;
}

.secao-avaliacoes .lista-avaliacoes .item-avaliacao .avaliacao .header-av {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}
.secao-avaliacoes .lista-avaliacoes .item-avaliacao .avaliacao .header-av strong {
  font-weight: bold;
}
.secao-avaliacoes .lista-avaliacoes .item-avaliacao .avaliacao .header-av .estrelas-avaliacao {
  display: flex;
  gap: 0.2rem;
}
.secao-avaliacoes .lista-avaliacoes .item-avaliacao .avaliacao .header-av .estrelas-avaliacao .stars-avaliacao-item {
  color: #ffc107;
  font-size: 1.2em;
  margin-right: 2px;
}

.secao-avaliacoes .lista-avaliacoes .item-avaliacao .avaliacao .coments {
  margin-left: 10px;
}

.secao-avaliacoes .lista-avaliacoes .item-avaliacao .lixeira {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
}
.secao-avaliacoes .lista-avaliacoes .item-avaliacao .lixeira:hover {
  color: rgb(180, 0, 0);
}

@media (min-width: 768px) {  
  .detalhes-container-detail {
    padding: 2rem 5rem;
  }
  .btn-voltar-details {
    font-size: 0.85rem;
  }
  .hero-details {
    gap: 2.5rem;
  }

  .imagem-principal-detail {
    max-width: 350px;
    max-height: 350px;
  }
  .imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail {
    max-height: 350px;
  }
  .imagens-section-detail .miniatura {
    width: 60px;
    height: 60px;
  }

  .info-section-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
  }

  .acoes-detail-container {
    display: flex;
    justify-content: end;
  }

  .frete-container {
    margin-top: 0rem;
  }
  .frete-container input {
    width: 185px;
  }

  .resultado-frete {
    grid-column: 1;
  }
  .resultado-frete .frete-lista .frete-item {
    width: 100%;
    max-width: 400px;
  }

  .secao-avaliacoes .lista-avaliacoes .item-avaliacao {
    max-width: 800px;
    padding: 15px 30px 15px 15px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {  
  .hero-details {
    flex-direction: row;
    gap: 7rem;
    padding-top: 3rem;
    justify-content: space-around;
  }
  .imagens-section-detail {
    max-width: 500px;
  }

  .imagem-principal-detail {
    max-width: 504px;
    max-height: 504px;
  }
  .imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail {
    height: 100%;
    max-height: 504px;
  }
  .imagens-section-detail .miniatura {
    width: 65px;
    height: 65px;
  }

  .info-section-detail {
    display: flex;
    gap: 20px;
  }

  .btn-acoes-detail {
    flex-direction: row;
  }

  .frete-container button {
    padding: 0.5rem 0.8rem;
  }
}

@media (min-width: 1280px) {  
  .btn-voltar-details {
    font-size: 0.95rem;
  }
  .hero-details {
    gap: 0rem;
  }


  .info-section-detail .titulo-detail {
    font-size: 1.9rem;
  }
  .info-section-detail .descricao-detail {
    font-size: 1rem;
  }
  .info-section-detail .preco-detail {
    font-size: 1.6rem;
  }
  .quantidade-detail {
    margin-top: 10px;
  }
  .quantidade-detail .quantidade-selector .btn-detail {
    padding: 0.35rem;
  }

  .acoes-detail {
    gap: 15px;
  }
  .formas-pagamento h4 {
    font-size: 1rem;
    margin-bottom: 3px;
  }
  .formas-pagamento ul {
    font-size: 0.9rem;
  }
  .botao-carrinho-detail {
    font-size: 0.9rem;
  }
  .botao-whatsapp {
    font-size: 0.85rem;
  }

  .frete-container input {
    font-size: 0.75rem;
  }
  .frete-container button {
    font-size: 0.75rem;
  }


  .secao-caracteristicas {
    margin: 5.5rem 0rem;
  }
  .secao-caracteristicas .section-title-ct {
    font-size: 1.65rem;
  }
  .secao-caracteristicas .caracteristicas {
    font-size: 0.9rem;
  }


  .secao-avaliacoes .section-title-av {
    font-size: 1.65rem;
  }
  .secao-avaliacoes .lista-avaliacoes .item-avaliacao {
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .detalhes-container-detail {
    padding: 2rem 7rem;
  }
  .btn-voltar-details {
    margin-top: 9rem;
  }
}

@media (min-width: 1600px) {
  .btn-voltar-details {
    margin-top: 10.5rem;
  }
}

@media (min-width: 1900px) {
  .detalhes-container-detail {
    padding: 2rem 8rem;
  }
  .btn-voltar-details {
    font-size: 1rem;
  }

  .imagens-section-detail {
    max-width: 500px;
  }
  .imagem-principal-detail {
    max-width: 700px;
    max-height: 700px;
  }
  .imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail {
    height: 500px;
    width: 600px;
    max-width: 700px;
    max-height: 700px;
  }
  .imagens-section-detail .miniatura {
    width: 90px;
    height: 90px;
  }

  .info-section-detail .titulo-detail {
    font-size: 2.5rem;
  }
  .stars-title {
    font-size: 1.3rem;
  }
  .info-section-detail .descricao-detail {
    font-size: 1.2rem;
  }
  .info-section-detail .preco-detail {
    font-size: 2rem;
  }

  .quantidade-detail .quantidade-selector .input-detail {
    font-size: 1.2rem;
}
  .quantidade-detail .quantidade-selector .btn-detail {
    padding: 0.4rem;
    font-size: 1.2rem;
  }
  .quantidade-detail .qnt-disponivel {
    font-size: 0.85rem;
  }

  .formas-pagamento h4 {
    font-size: 1.15rem;
    margin-bottom: 5px;
  }
  .formas-pagamento ul {
    font-size: 1rem;
  }
  .botao-carrinho-detail {
    font-size: 1rem;
  }
  .botao-whatsapp {
    font-size: 1rem;
  }

  .frete-box {
    gap: 0.55rem;
  }
  .frete-container input {
    font-size: 0.85rem;
    border-radius: 6px;
  }
  .frete-container button {
    font-size: 0.85rem;
    padding: 0.5rem 0.9rem;
  }


  .resultado-frete .frete-lista .frete-item {
    max-width: 500px;
  }
  .resultado-frete .frete-lista .frete-item .frete-detalhes h4 {
    font-size: 1rem;
  }
  .resultado-frete .frete-lista .frete-item .frete-detalhes p {
    font-size: 1rem;
  }


  .secao-caracteristicas {
    margin: 6rem 0rem;
  }
  .secao-caracteristicas .section-title-ct {
    font-size: 1.9rem;
    margin-bottom: 25px;
  }
  .secao-caracteristicas .caracteristicas {
    font-size: 1rem;
    line-height: 1.6rem;
  }


  .secao-avaliacoes .section-title-av {
    font-size: 1.9rem;
    margin-bottom: 25px;
  }
  .secao-avaliacoes .lista-avaliacoes .item-avaliacao {
    font-size: 1rem;
    max-width: 1000px;
    margin-bottom: 20px;
  }
}

@media (min-width: 2200px) {
  .detalhes-container-detail {
    padding: 2rem 10rem;
  }
  .btn-voltar-details {
    margin-top: 12rem;
  }
  .hero-details {
    gap: 30rem;
    justify-content: center;
  }

  .imagem-principal-detail {
    max-width: 650px;
    max-height: 600px;
  }
  .imagens-section-detail .imagem-principal-detail .imagem-zoom-detail-detail {
    height: 600px;
    width: 650px;
  }
  .imagens-section-detail .miniatura {
    width: 100px;
    height: 100px;
  }

  
  .resultado-frete .frete-lista .frete-item {
    max-width: 500px;
    padding: 0.8rem;
  }


  .secao-avaliacoes .lista-avaliacoes .item-avaliacao {
    max-width: 1500px;
    margin-bottom: 25px;
  }
}
